.ListItemButton {
  height: '20%';
  display: 'flex'; 
  justify-content: 'center';
}

.logout-icon {
  width: 100%;
  margin-bottom: 3rem;
}
.logout-icon:hover {
  color: red; /* Cambia 'blue' al color deseado para el hover */
  cursor: pointer;
  transition: all 1s;

}
.sidebar-container {
  height: 100vh; /* Establece la altura del sidebar al 100% del viewport */
  display: flex; /* Asegura que el contenedor del sidebar se comporte como un flexbox */
}