.centerDivCards{
display: flex ;
justify-content: center ;
align-items: end ;
height: 50%;
}

.centerDivCardSecondary{
  display: flex ;
  justify-content: start ;
  align-items: center ;
  flex-direction: column;
  /* height: calc(255px - 50%) ; */
  height: 50%;
} 

.boxShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fontCharts {
  font-weight: 'bold' !important;
}